@page
@model SeneakerKop.Pages.Info.IndexModel
@{
}

<div class="text-center">
    <h1 class="text-info">Reach Out To Us Here</h1>
    <i class="fa fa-info-circle fa-2x"></i>
    <p class="text-capitalize text-info"><span class=""><i class="fa fa-envelope-circle-check fa-lg"></i> </span>tmoeketsid@gmail.com</p>
</div>
