@page
@model ShopModel;
@{
}
<div class="row">
    @foreach (var sneakers in Model.Sneakers)
    {
        var ImagePath = "~/images/" + sneakers.ImageTitle;
        <div class="col-6 mb-5">
            <img src=@ImagePath class="w-100 prodImage card-img" asp-append-version="true" />
            <div class="card-body text-center">
                <h5 class="card-title text-danger">@sneakers.Name</h5>
                <p class="card-text text-danger"> R @sneakers.Price</p>

                <a class="btn btn-primary" asp-page="/Shop/ProdDetails" asp-route-sneakerId="@sneakers.Id">View Product Details</a>
            </div>
        </div>
    }
</div>



        