@page
@model SeneakerKop.Pages.Pay.CheckoutModel
@{
    
}


<form asp-page-handler="Checkout" method="post">
    <button type="submit" class="btn btn-primary btn-block">Checkout</button>

</form>



